.login_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: blueviolet;
  padding: 0 20px;
  color: white;
}
.login_nav ul a {
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.login_nav h4 {
  cursor: pointer;
}
