.add-user {
  height: 300px;
  padding: 20px;
  border: 2px solid red;
}
.display-user {
  height: 200px;
  padding: 20px;
  border: 2px solid red;
  margin-top: 20px;
  overflow: auto;
}

.add-user-input {
  padding: 10px;
  width: 300px;
  display: block;
}

.add-user-btn {
  width: 300px;
  padding: 10px;
  margin-top: 20px;
  background-color: blueviolet;
  display: block;
  color: white;
}

.display-user-item {
  padding: 5px;
  background-color: orange;
  margin-top: 10px;
  width: 200px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
